@model List<EmployeeApp.Models.LeaveViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>From</th>
            <th>To</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Requested On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leave in Model)
        {
            <tr>
                <td>@leave.LeaveType</td>
                <td>@leave.From.ToShortDateString()</td>
                <td>@leave.To.ToShortDateString()</td>
                <td>@leave.Status</td>
                <td>@leave.Description</td>
                <td>@leave.AppliedDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
